# Git
.git
.gitignore

# Python
__pycache__/
*.py[cod]
*$py.class

# Environment directories
.env
.venv
env/
venv/
ENV/

# IDE specific files
.idea/
.vscode/
*.swp
*.swo

# Uploaded files
uploads/*
!uploads/docs/.gitkeep
!uploads/images/.gitkeep